.button,
button,
input[type=submit] {
    background-color: var(--main-white-color);
    border: solid 0px;
    border-radius: 4px;
    color: black;
    padding: 12px 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
}

.semi-transparent {
  backdrop-filter: blur(10px);
  background: #f6f6f660;
}

.center-tab {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 32px;
  width: 50%;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.m4 {
    margin: 4px;
}

.m8 {
    margin: 8px;
}

.m16 {
    margin: 16px;
}


input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: solid 0px;
    border-radius: 4px;
    background-color: var(--main-white-color);
    font-size: 16px;
}

input[type=checkbox] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: solid 0px;
    border-radius: 4px;
    background-color: var(--main-white-color);
    font-size: 16px;
}

.center-absolute-tab {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 16px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #262626;
}

.font-xs {
    font-size: x-small;
}

.font-sm {
    font-size: small;
}

.font-lg {
    font-size: large;
}

.font-2x {
    font-size: x-large;
}

.warning {
    color: red;
}